<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Submission Page</title>
</head>
<body>
<h1>Task Submission Page</h1>
<div>
    <p>현재 과제 level: <span th:text="${info.getCurrentLevel()}"></span></p>
    <p>상태: <span th:text="${info.getScoreStatus()}"></span></p>
    <div th:if="${info.isSuccess()}">
        <p>Level <span th:text="${info.getNextLevel()}">0</span> 접근 가능</p>
    </div>
</div>
<div>
<!--    <a th:href="@{/task/submission}">Return to submission form</a>-->
</div>
</body>
</html>
